section.jackpotvid
  video.jackpotvid__video(autoplay muted loop playsinline)
    source(src="src/assets/jackpot_desk.mp4", type="video/mp4")
    | Your browser does not support the video tag.
  .jackpotvid__content
    h1 JACKPOT 
    h2 $ 18 562 168
