Section.winnerSection 
    .sections
        h5 Current Winners
        h5 Top Winners (24h)
        h5 Best Odds (24h)
    .current-winner
        h1 Current Winner 
        .current-winner-container 
    .today-winner
        h1 Top Winners (24h)
        .today-winner-container 
    .best-odd 
        h1 Best Odds (24h)
        .best-odd-container
        