extends layouts/main.pug

block content
  include ./layouts/header.pug
  section.contents 
    section.middle
        include ./layouts/topCarousel.pug
        h1 Hello from Pure Pug 👋
        include ./layouts/lobbysection/lobbymain.pug
        include ./layouts/jackpotsection/jackpotmain.pug
        include ./layouts/currentwinnerSection/currentWinnermain.pug
        include ./layouts/footer.pug
    section.right  
      include ./layouts/ad.pug
      include ./layouts/jackpot.pug
      include ./layouts/adCarousel.pug
      include ./layouts/mobileApp.pug


