section.megawaysSection
    .megaways-upper
        h3 Megaways
        p show all >
    .megaways-scroll-container
        button.megaways-scroll-btn.left(title='Scroll Left')
            svg(width='24' height='24' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.64653 3.14648L3.79303 5.99998L6.64653 8.85348L7.35353 8.14648L5.20703 5.99998L7.35353 3.85348L6.64653 3.14648Z' fill='white')
        .megaways-content
        button.megaways-scroll-btn.right(title='Scroll Right')
            svg(width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
