section.side-carousel(aria-label="Newest Photos") 
    .side-carousel(data-carousel)
        button.side-prev.side-carousel-button(title="Previous"    data-side-carousel-button="prev")
            svg(width='24' height='24' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.64653 3.14648L3.79303 5.99998L6.64653 8.85348L7.35353 8.14648L5.20703 5.99998L7.35353 3.85348L6.64653 3.14648Z' fill='white')
        button.side-next.side-carousel-button(title="Next" data-side-carousel-button="next")
            svg(width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
        ul(data-side-slides)
            li.first.side-slide(data-active)
                div.side-top-items
                    .side-carousel__item-top Accumulator Insurance
                    .side-carousel__item-title Promotion
                .side-image-div    
                    .side-image-div-left 
                        p Ends in
                        h3 252d 12h
                    .side-image-div-right
                        p Prize pool 
                        h3 &infin; 
                button.side-carousel__item-button Read More
            li.second.side-slide()
                div.side-top-items
                    .side-carousel__item-top Early Victory
                    .side-carousel__item-title Promotion
                .side-image-div    
                    .side-image-div-left 
                        p Ends in
                        h3 38d 12h
                    .side-image-div-right
                        p Prize pool 
                        h3 &infin; 
                button.side-carousel__item-button Read More
            li.thrid.side-slide()
                div.side-top-items
                    .side-carousel__item-top Tie Breaker
                    .side-carousel__item-title Promotion
                .side-image-div    
                    .side-image-div-left 
                        p Ends in
                        h3 38d 12h
                    .side-image-div-right
                        p Prize pool 
                        h3 &infin; 
                button.side-carousel__item-button Read More
            li.fourth.side-slide()
                div.side-top-items
                    .side-carousel__item-top Spin-O-Mania
                    .side-carousel__item-title Promotion
                .side-image-div    
                    .side-image-div-left 
                        p Ends in
                        h3 248d 12h
                    .side-image-div-right
                        p Prize pool 
                        h3 $1 000 000 
                button.side-carousel__item-button Read More
            li.fifth.side-slide()
                div.side-top-items
                    .side-carousel__item-top Cash Cascade
                    .side-carousel__item-title Lottery
                .side-image-div    
                    .side-image-div-left 
                        p Ends in
                        h3 7d 10h: 59
                    .side-image-div-right
                        p Prize pool 
                        h3 $1 000 000 
                button.side-carousel__item-button Read More

