footer 
    .footer-header
        .logo
            img(src="/assets/logo.svg", alt="1GOlogo")
        .socials
            .social-icon
                img(src="/assets/icons/facebook.svg", alt="facebook")
            .social-icon
                img(src="/assets/icons/Instagram.svg", alt="instagram")
            .social-icon
                img(src="/assets/icons/TwitterX.svg", alt="twitter")
            .social-icon
                img(src="/assets/icons/Telegram.png", alt="telegram")
    .footer-middle
        .left 
            .aboutus.leftdiv
                p About Us
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")

            .contact.leftdiv
                p Contact Us
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .faq.leftdiv
                p FAQ
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .terms.leftdiv
                p Terms and Conditions
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .accounts.leftdiv
                p Accounts
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .kyc.leftdiv
                p KYC Policies
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .privacy.leftdiv
                p Privacy, Management of Personal Data and Cookie Policy
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .deposits.leftdiv
                p Deposits & Payouts
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
        .right 
            .bonuses.rightdiv
                p Bonuses
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .responsible-gambling.rightdiv
                p Responsible Gambling Policy
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .self-exclusion.rightdiv
                p Self-Exclusion
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .dispute-resolution.rightdiv
                p Dispute Resolution
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .anti-money-laundering.rightdiv
                p Anti-Money Laundering
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .fairness-rng.rightdiv
                p Fairness & RNG Testing Methods
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
            .affiliates.rightdiv
                p Affiliates
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.276 23.6093L21.8853 16L14.276 8.39062L12.3906 10.276L18.1146 16L12.3906 21.724L14.276 23.6093Z" fill="white")
    .footer-bottom 
        .image
            img(src="/assets/GCB.png", alt="1go")
        .content
            p
                |The information on the Website is provided by the Website operator GALAKTIKA N.V., registered at Scharlooweg 39, Willemstad, Curaçao. The activities of GALAKTIKA N.V. are fully licensed and regulated by Curaçao Gaming Authority (license No. OGL/2024/169/0146 issued on 28 October 2024), Curaçao laws and regulations. The payment processing is managed by Unionstar Limited (registered under No. HE 356131 at Agias Fylaxeos & Zinonos Rossidi 2, 1st Floor, 3082 Limassol, Cyprus), subsidiary of GALAKTIKA N.V.  
                br
                br
                |Any person under 18 years old or under the legal age for gambling in a particular jurisdiction (“Eligible Age“) may not use the services of this Website under any circumstances.
    .footer-footer 
            p.copyright © 2023——2025 1GO Casino
            p.age 18+