footer 
    .footer-header
        .logo
            img(src="/assets/logo.svg", alt="1GOlogo")
        .socials
            img(src="/assets/icons/facebook.svg", alt="facebook")
            img(src="/assets/icons/Instagram.svg", alt="instagram")
            img(src="/assets/icons/TwitterX.svg", alt="twitter")
            img(src="/assets/icons/Telegram.png", alt="telegram")
    .footer-middle
        .left 
            .aboutus
                p About Us
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .contact
                p Contact Us
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .faq 
                p FAQ
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .terms
                p Terms and Conditions
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .accounts
                p Accounts
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .kyc
                p KYC Policies
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .privacy
                p Privacy, Management of Personal Data and Cookie Policy
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .deposits
                p Deposits & Payouts
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
        .right 
            .bonuses
                p Bonuses
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .responsible-gambling
                p Responsible Gambling Policy
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .self-exclusion
                p Self-Exclusion
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .dispute-resolution
                p Dispute Resolution
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .anti-money-laundering
                p Anti-Money Laundering
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .fairness-rng
                p Fairness & RNG Testing Methods
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
            .affiliates
                p Affiliates
                img(src="/assets/icons/Chevron.svg", alt="", srcset="")
    .footer-bottom 
        .image
            img(src="/assets/GCB.png", alt="1go")
        .content
            p The information on the Website is provided by the Website operator GALAKTIKA N.V., registered at Scharlooweg 39, Willemstad, Curaçao. The activities of GALAKTIKA N.V. are fully licensed and regulated by Curaçao Gaming Authority (license No. OGL/2024/169/0146 issued on 28 October 2024), Curaçao laws and regulations. The payment processing is managed by Unionstar Limited (registered under No. HE 356131 at Agias Fylaxeos & Zinonos Rossidi 2, 1st Floor, 3082 Limassol, Cyprus), subsidiary of GALAKTIKA N.V.  Any person under 18 years old or under the legal age for gambling in a particular jurisdiction (“Eligible Age“) may not use the services of this Website under any circumstances.