section.hamburgerMenu
    .ham-top
        div 
            svg(fill='#000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewbox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve')
                path(d='M20.5,9.1c0.2,0.6,0.8,0.9,1.4,0.9H30c0.6,0,1.2-0.3,1.4-0.9l3.2-5.9C34.8,2.6,34.4,2,33.8,2H26h-7.8\c-0.6,0-1,0.6-0.7,1.1L20.5,9.1z')
                path(d='M30.7,14.7h-9.4C13.4,14.7,7,21.2,7,29.2v16c0,2.6,2.1,4.8,4.8,4.8h28.4c2.6,0,4.8-2.2,4.8-4.8v-16\C45,21.2,38.5,14.7,30.7,14.7z M28.4,41.7v2.7c0,0.5-0.5,0.8-1,0.8h-3.2c-0.5,0-0.6-0.3-0.6-0.8v-2.6c-2.4-0.  5-4.4-1.5-4.9-2\c-0.6-0.6-0.8-1.1-0.3-1.8l1-1.6c0.2-0.4,0.7-0.6,1.2-0.6c0.3,0,0.6,0.1,0.8,0.2h0.1c1.6,1,3,1.4,4,1.4c1.1,0,2-0.6,2-1.2\c0-0.5-0.3-1.3-3.3-2.3c-2.7-1-6-2.6-6-6.3c0-2.2,1.4-4.7,5.4-5.5v-2.4c0-0.5, 0.2-0.8,0.6-0.8h3.2c0.5,0,1,0.3,1,0.8V22\c1.6,0.4,3.3,1.2,3.9,1.6c0.3,0.2,0.5,0.6,0.6,1c0.1,0.4-0.1,0.8-0.3,1L31.2,27c-0.3,0.4-0.9,0.7-1.3,0.7c-0.2,0-0.5-0.1-0.7-0.2\c-1.6-0.9-2.9-1.4-3.8-1.4c-1.3,0-1.9,0.6-1.9,1c0,0.6,0.3,1.2,3,2.2c3.3,1.1,7,2.9,7,6.7C33.6,38.6,31.5,40.9,28.4,41.7z')
            h3 Bonuses
        div 
            svg(width='800px' height='800px' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M11.0739 2.63302C11.3948 1.78899 12.6052 1.78899 12.9261 2.63303L14.9962 8.36698C15.141 8.74774 15.51 9 15.9223 9H21.009C21.9483 9 22.3586 10.1703 21.6201 10.7427L18 14C17.6667 14.2583 17.5373 14.6975 17.6784 15.0918L19 20.6951C19.3218 21.5943 18.2791 22.3679 17.4925 21.8136L12.5749 18.6946C12.231 18.4523 11.769 18.4523 11.4251 18.6946L6.50755 21.8136C5.72088 22.3679 4.67825 21.5943 5 20.6951L6.32161 15.0918C6.4627 14.6975 6.33334 14.2583 6 14L2.37994 10.7427C1.64136 10.1703 2.05172 9 2.991 9H8.07767C8.48996 9 8.85899 8.74774 9.00376 8.36698L11.0739 2.63302Z' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            h3 Promos 
        div 
            svg(width='800px' height='800px' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 3C12.3334 3 12.6449 3.16613 12.8306 3.443L16.6106 9.07917L21.2523 3.85213C21.5515 3.51525 22.039 3.42002 22.4429 3.61953C22.8469 3.81904 23.0675 4.26404 22.9818 4.70634L20.2956 18.5706C20.0223 19.9812 18.7872 21 17.3504 21H6.64977C5.21293 21 3.97784 19.9812 3.70454 18.5706L1.01833 4.70634C0.932635 4.26404 1.15329 3.81904 1.55723 3.61953C1.96117 3.42002 2.44865 3.51525 2.74781 3.85213L7.38953 9.07917L11.1696 3.443C11.3553 3.16613 11.6667 3 12.0001 3ZM12.0001 5.79533L8.33059 11.2667C8.1582 11.5237 7.8765 11.6865 7.56772 11.7074C7.25893 11.7283 6.95785 11.6051 6.75234 11.3737L3.67615 7.90958L5.66802 18.1902C5.75913 18.6604 6.17082 19 6.64977 19H17.3504C17.8293 19 18.241 18.6604 18.3321 18.1902L20.324 7.90958L17.2478 11.3737C17.0423 11.6051 16.7412 11.7283 16.4324 11.7074C16.1236 11.6865 15.842 11.5237 15.6696 11.2667L12.0001 5.79533Z' fill='#000000')
            h3 Vip Club     
    .ham-middle 
        div
            .ham-middle-left
                svg(fill='#ffffff' width='16px' height='16px' viewbox='0 0 50 50' version='1.2' baseprofile='tiny' xmlns='http://www.w3.org/2000/svg' overflow='inherit')
                    path(d='M49 10.489c.604-.457 1-1.173 1-1.989 0-1.381-1.119-2.5-2.5-2.5s-2.5 1.119-2.5 2.5c0 .815.396 1.532 1 1.989v15.511h-9v8h10v-.297c1.465-.594 2.5-2.024 2.5-3.703 0-.691-.191-1.332-.5-1.899v-17.612zm-43 6.511c1.021 0 1.73.172 3 0 0 0-4.016 2.666-4.016 6h5.016s.006-5.554 3-9l-1-1s-2 1-4 0c0 0-2 0-4 1v-1h-1v6h1s0-2 2-2zm14 0c1.021 0 1.73.172 3 0 0 0-4.016 2.666-4.016 6h5.016s.006-5.554 3-9l-1-1s-2 1-4 0c0 0-2 0-4 1v-1h-1v6h1s0-2 2-2zm18-10v-2h-12.12c-.456-2.002-2.239-3.5-4.38-3.5s-3.924 1.498-4.38 3.5h-12.12v2h-5v41h44v-41h-6zm-22 4h12v14h-12v-14zm-14 0h12v14h-12v-14zm36 32h-33v-7h33v7zm4-18h-12v-14h12v14zm-8-8c1.021 0 1.73.172 3 0 0 0-4.016 2.666-4.016 6h5.016s.006-5.554 3-9l-1-1s-2 1-4 0c0 0-2 0-4 1v-1h-1v6h1s0-2 2-2z')
                h3 Slots 
            .ham-middle-right 
               svg(fill='#000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewbox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve')
                    path(d='M47.6,17.8L27.1,38.5c-0.6,0.6-1.6,0.6-2.2,0L4.4,17.8c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2\c0.6-0.6,1.6-0.6,2.2,0l16.1,16.3c0.6,0.6,1.6,0.6,2.2,0l16.1-16.2c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C48.1,16.3,48.1,17.2,47.6,17.8z')

        div
            .ham-middle-left
                svg(width='16' height='16' viewbox='0 0 12 12' fill='white' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_216_85)')
                    path(d='M10.5 3H6.705L8.35 1.355L8 1L6 3L4 1L3.645 1.355L5.295 3H1.5C1.23478 3 0.98043 3.10536 0.792893 3.29289C0.605357 3.48043 0.5 3.73478 0.5 4V10C0.5 10.55 0.95 11 1.5 11H10.5C11.05 11 11.5 10.55 11.5 10V4C11.5 3.73478 11.3946 3.48043 11.2071 3.29289C11.0196 3.10536 10.7652 3 10.5 3ZM10.5 10H1.5V4H10.5V10ZM4.5 5V9L8 7L4.5 5Z' fill='white')
                    defs
                        clippath#clip0_216_85
                            rect(width='12' height='12' fill='white')
                h3 Live Games 
            .ham-middle-right 
                svg(fill='#000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewbox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve')
                    path(d='M47.6,17.8L27.1,38.5c-0.6,0.6-1.6,0.6-2.2,0L4.4,17.8c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2\c0.6-0.6,1.6-0.6,2.2,0l16.1,16.3c0.6,0.6,1.6,0.6,2.2,0l16.1-16.2c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C48.1,16.3,48.1,17.2,47.6,17.8z')
        div
            .ham-middle-left
                svg(fill='#ffffff' width='16px' height='16px' viewbox='0 0 50 50' version='1.2' baseprofile='tiny' xmlns='http://www.w3.org/2000/svg' overflow='inherit')
                    path(d='M49 10.489c.604-.457 1-1.173 1-1.989 0-1.381-1.119-2.5-2.5-2.5s-2.5 1.119-2.5 2.5c0 .815.396 1.532 1 1.989v15.511h-9v8h10v-.297c1.465-.594 2.5-2.024 2.5-3.703 0-.691-.191-1.332-.5-1.899v-17.612zm-43 6.511c1.021 0 1.73.172 3 0 0 0-4.016 2.666-4.016 6h5.016s.006-5.554 3-9l-1-1s-2 1-4 0c0 0-2 0-4 1v-1h-1v6h1s0-2 2-2zm14 0c1.021 0 1.73.172 3 0 0 0-4.016 2.666-4.016 6h5.016s.006-5.554 3-9l-1-1s-2 1-4 0c0 0-2 0-4 1v-1h-1v6h1s0-2 2-2zm18-10v-2h-12.12c-.456-2.002-2.239-3.5-4.38-3.5s-3.924 1.498-4.38 3.5h-12.12v2h-5v41h44v-41h-6zm-22 4h12v14h-12v-14zm-14 0h12v14h-12v-14zm36 32h-33v-7h33v7zm4-18h-12v-14h12v14zm-8-8c1.021 0 1.73.172 3 0 0 0-4.016 2.666-4.016 6h5.016s.006-5.554 3-9l-1-1s-2 1-4 0c0 0-2 0-4 1v-1h-1v6h1s0-2 2-2z')
                h3 Sports book 
            .ham-middle-right 
                svg(fill='#000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewbox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve')
                    path(d='M47.6,17.8L27.1,38.5c-0.6,0.6-1.6,0.6-2.2,0L4.4,17.8c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2\c0.6-0.6,1.6-0.6,2.2,0l16.1,16.3c0.6,0.6,1.6,0.6,2.2,0l16.1-16.2c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C48.1,16.3,48.1,17.2,47.6,17.8z')
        div 
            .ham-middle-left
                svg#Flat(fill='#ffffff' width='16px' height='16px' viewbox='0 0 256 256' xmlns='http://www.w3.org/2000/svg')
                    path(d='M95.99561,251.99268a12.001,12.001,0,0,1-11.7627-14.354l13.999-69.99365L43.78662,147.228a11.99964,11.99964,0,0,1-4.55908-19.42383l112-120a12,12,0,0,1,20.53955,10.5415l-13.999,69.99366,54.44531,20.417a11.99964,11.99964,0,0,1,4.55908,19.42383l-112,120A11.9949,11.9949,0,0,1,95.99561,251.99268ZM69.01953,131.05859l47.19385,17.69776a11.99972,11.99972,0,0,1,7.55371,13.58935l-7.71533,38.5752,70.92871-75.99512L139.78662,107.228a11.99973,11.99973,0,0,1-7.55371-13.58936l7.71533-38.57519Z')
                h3 Instant Games
        div 
            .ham-middle-left
                svg(width='16px' height='16px' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(x='3' y='3' width='7' height='7' stroke='#ed9f67' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    rect(x='3' y='14' width='7' height='7' stroke='#ed9f67' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    rect(x='14' y='3' width='7' height='7' stroke='#ed9f67' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    rect(x='14' y='14' width='7' height='7' stroke='#ed9f67' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    h3 All Games
        div 
            .ham-middle-left
                svg(fill='#ffffff' width='24' height='24' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                    path(d='M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68a1,1,0,0,0,.4,1,1,1,0,0,0,1.05.07L12,18.76l5.1,2.68a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.89l.72,4.19-3.76-2a1,1,0,0,0-.94,0l-3.76,2,.72-4.19a1,1,0,0,0-.29-.89l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z')
                    path(fill='currentColor' d='M10.5 14.3L8 12l-1.3 1.5 4 4 4.5-4.5-1.5-1.5z' transform='translate(1,-1)')
                h3 All Providers
    .ham-live-chat 
        svg(width='800px' height='800px' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M2.5 6C1.97535 6 1.48846 6.16161 1.08637 6.43776C1.5934 3.3532 4.27189 1 7.5 1C10.7281 1 13.4066 3.3532 13.9136 6.43777C13.5115 6.16161 13.0246 6 12.5 6C11.6716 6 11 6.67157 11 7.5V11.5C11 12.1333 11.3925 12.6749 11.9475 12.895C11.7741 13.5318 11.1917 14 10.5 14H8V15H10.5C11.7242 15 12.7429 14.12 12.9581 12.9581C14.12 12.7429 15 11.7242 15 10.5V7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5V10.5C0 11.8807 1.11929 13 2.5 13C3.32843 13 4 12.3284 4 11.5V7.5C4 6.67157 3.32843 6 2.5 6Z' fill='#000000')
        h3 Live Chat

    .ham-faq
        div
            svg(width='800px' height='800px' viewbox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none')
                path(fill='#000000' d='M8 3a5 5 0 100 10A5 5 0 008 3z')
            h3 FAQ
        div
            svg(width='800px' height='800px' viewbox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none')
                path(fill='#000000' d='M8 3a5 5 0 100 10A5 5 0 008 3z')
            h3 Terms & Conditions
        div
            svg(width='800px' height='800px' viewbox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='none')
                path(fill='#000000' d='M8 3a5 5 0 100 10A5 5 0 008 3z')
            h3 News
    .ham-download     
        .phones
            .icon 
                //apple icon here
                svg(width='24' height='24' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                     path(d='M8.75859 6.27773C8.75391 5.47852 9.11602 4.87617 9.84727 4.43203C9.43828 3.84609 8.81953 3.52383 8.00391 3.46172C7.23164 3.40078 6.38672 3.91172 6.07734 3.91172C5.75039 3.91172 5.00273 3.48281 4.41445 3.48281C3.20039 3.50156 1.91016 4.45078 1.91016 6.38203C1.91016 6.95273 2.01445 7.54219 2.22305 8.14922C2.50195 8.94844 3.50742 10.9066 4.55625 10.875C5.10469 10.8621 5.49258 10.4859 6.20625 10.4859C6.89883 10.4859 7.25742 10.875 7.86914 10.875C8.92734 10.8598 9.83672 9.07969 10.1016 8.27813C8.68242 7.60899 8.75859 6.31875 8.75859 6.27773ZM7.52695 2.70352C8.12109 1.99805 8.06719 1.35586 8.04961 1.125C7.52461 1.15547 6.91758 1.48242 6.57187 1.88438C6.19102 2.31563 5.96719 2.84883 6.01523 3.45C6.58242 3.49336 7.10039 3.20156 7.52695 2.70352Z' fill='#ed9f67')

            .content 
                p Download on the
                h3 App Store
        .phones
            .icon 
               svg(width='24' height='24' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_218_90)')
                    path(d='M8.76146 6.95714C8.66257 6.95714 8.5659 6.92781 8.48367 6.87287C8.40145 6.81793 8.33736 6.73984 8.29952 6.64848C8.26168 6.55712 8.25177 6.45658 8.27107 6.35959C8.29036 6.2626 8.33798 6.17351 8.40791 6.10358C8.47783 6.03366 8.56692 5.98604 8.66391 5.96674C8.7609 5.94745 8.86144 5.95735 8.9528 5.9952C9.04416 6.03304 9.12225 6.09713 9.17719 6.17935C9.23213 6.26158 9.26146 6.35825 9.26146 6.45714C9.26146 6.58974 9.20878 6.71692 9.11501 6.81069C9.02124 6.90446 8.89407 6.95714 8.76146 6.95714ZM3.23854 6.95714C3.13965 6.95714 3.04298 6.92781 2.96076 6.87287C2.87853 6.81793 2.81445 6.73984 2.7766 6.64848C2.73876 6.55712 2.72886 6.45658 2.74815 6.35959C2.76744 6.2626 2.81506 6.17351 2.88499 6.10358C2.95491 6.03366 3.04401 5.98604 3.141 5.96674C3.23799 5.94745 3.33852 5.95735 3.42988 5.9952C3.52125 6.03304 3.59934 6.09713 3.65428 6.17935C3.70922 6.26158 3.73854 6.35825 3.73854 6.45714C3.73854 6.58974 3.68586 6.71692 3.5921 6.81069C3.49833 6.90446 3.37115 6.95714 3.23854 6.95714ZM8.94063 3.94714L9.93938 2.21797C9.95527 2.19429 9.96612 2.1676 9.97128 2.13955C9.97644 2.1115 9.97578 2.08269 9.96935 2.05491C9.96291 2.02712 9.95085 2.00096 9.93389 1.97802C9.91694 1.95509 9.89545 1.93589 9.87077 1.9216C9.84609 1.90731 9.81874 1.89824 9.79042 1.89495C9.76209 1.89166 9.73338 1.89422 9.70609 1.90247C9.67879 1.91072 9.65348 1.92449 9.63172 1.94293C9.60996 1.96136 9.59221 1.98407 9.57958 2.00964L8.56833 3.76109C7.76057 3.39881 6.88529 3.21151 6 3.21151C5.11471 3.21151 4.23943 3.39881 3.43167 3.76109L2.42042 2.00964C2.40779 1.98407 2.39004 1.96136 2.36828 1.94293C2.34652 1.92449 2.32121 1.91072 2.29391 1.90247C2.26662 1.89422 2.23791 1.89166 2.20959 1.89495C2.18126 1.89824 2.15391 1.90731 2.12923 1.9216C2.10455 1.93589 2.08306 1.95509 2.06611 1.97802C2.04915 2.00096 2.03709 2.02712 2.03065 2.05491C2.02422 2.08269 2.02357 2.1115 2.02872 2.13955C2.03388 2.1676 2.04473 2.19429 2.06063 2.21797L3.05938 3.94714C1.34438 4.87984 0.171667 6.61589 0 8.66693H12C11.8283 6.61589 10.6554 4.87984 8.94063 3.94714Z' fill='#ed9f67')
                     defs
                        clippath#clip0_218_90
                            rect(width='12' height='12' fill='#ed9f67')

            .content 
                p Download for
                h3 Android
    .ham-social
        .social-icon
            img(src="/assets/icons/facebook.svg", alt="facebook")
        .social-icon
            img(src="/assets/icons/Instagram.svg", alt="instagram")
        .social-icon
            img(src="/assets/icons/TwitterX.svg", alt="twitter")
        .social-icon
            img(src="/assets/icons/Telegram.png", alt="telegram")
        .social-icon                        