// src/pug/layouts/header.pug
header
  section 
    .left
        .logo
           .hamburger 
                img(src="/assets/BiMenu.svg", alt="menu", srcset="")
                img(src="/assets/logo.svg", alt="1GOlogo") 
        .pages
            div 
                img(src="/assets/icons/casino.png", alt="", srcset="") 
                p Casino
            div 
                img(src="/assets/icons/live.png", alt="", srcset="") 
                p Live Casino
            div 
                img(src="/assets/icons/sports.png", alt="", srcset="") 
                p Sports
        .serachbar
            img(src="/assets/icons/Search.svg", alt="", srcset="")
            input(type="text", name="search" title="search" placeholder="Game or Provider")
    .auth
        button#login login 
        button#sign  Sign Up



