doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 1GO Casino
    link(rel="stylesheet", href="style.css")
    script(type="module" src="main.js/main.js" defer) 
  body
    block content
