@use "header";
@use "footer";
@use "ad";
@use "jackpot";
@use "mobileApp";
@use "topCarousel";
@use "adCarousel";
@use "jackpotsection/jackpotvid";
@use "jackpotsection/upperCard.scss";
@use "jackpotsection/jackpotgames.scss";
@use "lobbysection/lobbymain.scss";
@use "currentWinners.scss";
@use "booksofcollection.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #121212;
  color: #fff;
  font-family: Lato, sans-serif;
}

.contents {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  padding: 72px 12px 12px 12px;
  .middle {
    grid-column: span 6;
    overflow-x: hidden;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .jackpotmain {
      position: relative;
      background-color: #2c2c2e;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      border-radius: 16px;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-column: span 2;
  }
}
